body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:820px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:600px;
}

#u1 {
  position:absolute;
  left:2px;
  top:212px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:500px;
  top:40px;
  width:170px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:500px;
}

#u5 {
  position:absolute;
  left:2px;
  top:162px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:80px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:80px;
}
#u7 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:20px;
  top:100px;
  width:50px;
  height:50px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u9 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:100px;
  width:60px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:134px;
  width:35px;
  height:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:10px;
  top:80px;
  width:950px;
}
#u15 {
  position:absolute;
  left:25px;
  top:175px;
  width:125px;
  height:95px;
}
#u15_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:101px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u20 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:35px;
  text-align:center;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u22 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:90px;
  width:730px;
  height:26px;
  text-align:left;
  background-color:#00BBFF;
}
#u24 {
  position:absolute;
  left:2px;
  top:5px;
  width:616px;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:194px;
  top:140px;
  width:616px;
  height:26px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:194px;
  top:166px;
  width:616px;
  height:26px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:194px;
  top:192px;
  width:616px;
  height:26px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:194px;
  top:218px;
  width:616px;
  height:26px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:194px;
  top:244px;
  width:616px;
  height:26px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:194px;
  top:270px;
  width:616px;
  height:26px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:194px;
  top:296px;
  width:616px;
  height:26px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  height:26px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:616px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:214px;
  top:560px;
  width:750px;
}
#u40 {
  position:absolute;
  left:704px;
  top:570px;
  width:66px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:220px;
  top:570px;
  width:110px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  word-wrap:break-word;
}
