body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:500px;
  top:40px;
  width:170px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:29px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:162px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:100px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:100px;
  width:60px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:134px;
  width:35px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u12 {
  position:absolute;
  left:10px;
  top:80px;
  width:950px;
}
#u13 {
  position:absolute;
  left:25px;
  top:175px;
  width:125px;
  height:95px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:101px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:35px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:230px;
  top:90px;
  width:730px;
  height:26px;
  text-align:left;
  background-color:#00BBFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:620px;
  height:26px;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:616px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:134px;
  width:730px;
  height:455px;
}
#u24 {
  position:absolute;
  left:2px;
  top:144px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:258px;
  top:134px;
  width:680px;
  height:44px;
  font-size:18px;
  text-align: center;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:250px;
  top:188px;
  width:680px;
  height:402px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:232px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  word-wrap:break-word;
}
