body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:810px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
    position:absolute;
  left:500px;
  top:40px;
  width:170px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  word-wrap:break-word;
}
#u2 {
 position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:500px;
}
#u3 {
  position:absolute;
  left:2px;
  top:162px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:90px;
  width:200px;
  height:80px;
}
#u5 {
  position:absolute;
  left:2px;
  top:32px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:20px;
  top:100px;
  width:50px;
  height:50px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u7 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:90px;
  top:100px;
  width:60px;
  height:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:134px;
  width:35px;
  height:16px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:16px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u12 {
   position:absolute;
  left:10px;
  top:80px;
  width:950px;
}
#u13 {
  position:absolute;
  left:25px;
  top:175px;
  width:125px;
  height:95px;
}
#u13_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:131px;
  height:101px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:100px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
  text-align:center;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u16 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:0px;
  top:30px;
  width:125px;
  height:30px;
  text-align:center;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:30px;
}
#u18 {
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:0px;
  top:60px;
  width:125px;
  height:35px;
  text-align:center;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u20 {
  position:absolute;
  left:2px;
  top:10px;
  width:121px;
  word-wrap:break-word;
}
#u21 {
   position:absolute;
  left:230px;
  top:90px;
  width:730px;
  height:26px;
  text-align:left;
  background-color:#00BBFF;
}
#u22 {
  position:absolute;
  left:2px;
  top:5px;
  width:616px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:230px;
  top:134px;
  width:730px;
  height:456px;
}
#u24 {
  position:absolute;
  left:2px;
  top:140px;
  width:616px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:235px;
  top:144px;
  width:27px;
  height:16px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u27 {
  position:absolute;
  left:270px;
  top:140px;
  width:565px;
  height:25px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:235px;
  top:179px;
  width:27px;
  height:16px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:270px;
  top:175px;
  width:565px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31 {
  position:absolute;
  left:235px;
  top:205px;
  width:27px;
  height:16px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:270px;
  top:210px;
  width:565px;
  height:243px;
}
#u33_input {
  position:absolute;
  left:0px;
  top:0px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  margin: 0px; 
  height: 243px; 
  width: 566px;
}
#u34 {
  position:absolute;
  left:235px;
  top:470px;
  width:27px;
  height:16px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:270px;
  top:470px;
  width:565px;
  height:25px;
}
#u36_input {
  position:absolute;
  left:0px;
  top:0px;
  width:565px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u37 {
  position:absolute;
  left:630px;
  top:555px;
  width:60px;
  height:25px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u38 {
  position:absolute;
  left:710px;
  top:555px;
  width:60px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:235px;
  top:510px;
  width:27px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u41 {
  position:absolute;
  left:270px;
  top:510px;
  width:200px;
  height:22px;
}
#u41_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u41_input:disabled {
  color:grayText;
}
